@import url('https://fonts.googleapis.com/css2?family=Nabla&family=Rubik+Doodle+Shadow&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    min-height: 100dvh;
}

.logo {
    width: 8%;
    height: 55px;
}

.logo img {
    width: 90%;
    height: 100%;
}

nav {
    background-color: #ff0a0a;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    height: 50px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    margin: 2px;
    position: relative;
}

li a {
    color: aliceblue;
    text-decoration: none;
    text-align: center;
    height: 100%;
    display: block;
    padding: 10px 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

li a:hover {
    border: 2px solid black;
    color: red;
    background-color: aliceblue;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-family: cursive;
    letter-spacing: 1px;
}

.num {
    background-color: rgb(188, 46, 46);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -12px;
    left: -2px;
    color: white;
    font-weight: bold;
}

#name-of-user {
    text-align: center;
    margin-bottom: 10px;
    font-size: 2rem;
    text-transform: capitalize;
    text-align: center;
    padding: 10px 12px;
    background-color: rgba(250, 235, 215, 0.694);
    opacity: 0;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}

#name-of-user.show {
    opacity: 1
}

#name-of-user i {
    color: gold;
    padding: 10px 0px 20px 0px;
}

header {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1 {
    padding: 60px;
    width: 70%;
    height: 60px;
    background-color: rgb(88, 85, 85);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 900;
    color: #a09f9fb3;
    letter-spacing: 5px;
    animation: letter 8s infinite;
    -webkit-animation: letter 8s infinite;
    box-shadow: 3px 3px 3px 3px rgb(63, 65, 67);
    text-transform: capitalize;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
}

main {
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.search-div {
    /* background-color: bisque; */
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px
}

.search-div input {
    width: 60%;
    height: 70%;
    border-radius: 15px;
    padding: 10px;
}

.search-div input::placeholder {
    padding: 10px;
}

.book-list {
    /*background-color: rgb(255 255 255);
    */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    width: 90%;
    padding: 30px 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: 90%;
    margin-bottom: 20px;
}

.section {
    width: 90%;
    margin: 5px 0px;
    /* background-color: rgb(242, 242, 239); */
    background-color: rgb(206 206 206);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 2px solid black;
    box-shadow: 3px 1px 3px 3px rgba(52, 52, 52, 0.905);
}

.section img {
    width: 150px;
    height: 150px;
}

.text {
    /* background-color: rgb(232, 125, 12); */
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    letter-spacing: 2px;
    margin-left: 20px;
}

.text span {
    font-size: 1rem;
    font-weight: lighter;
    text-transform: capitalize;
}

.section button {
    background-color: red;
    color: white;
    width: 150px;
    padding: 10px;
    height: 50px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    text-transform: capitalize;
    font-weight: 800;
    font-family: monospace;
}

.section button {
    font-family: "Rubik Doodle Shadow", system-ui;
    font-weight: 400;
    font-style: normal;
    color: yellow;
    text-shadow: 0px 0px 10px yellow, 0px 0px 20px yellow, 0px 0px 30px yellow, 0px 0px 40px yellow;
}

.book-list .section button {
    width: auto;
}

.register,
.login {
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    opacity: 0;
    transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -ms-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    z-index: -1;
}

.resgister-section,
.login-section {
    margin: 5px;
    width: 60%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 16px;
    background: rgba(30, 27, 27, 0.534);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    /* From https://css.glass */
    border-radius: 16px;
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.resgister-section input,
.login-section input {
    width: 80%;
    height: 50px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    padding: 10px
}

.resgister-section input::placeholder,
.login-section input::placeholder {
    padding: 5px
}

.resgister-section button,
.login-section button {
    background-color: rgb(41, 175, 175);
    color: white;
    width: 150px;
    padding: 10px;
    height: 50px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-size: large;
    font-weight: 700;
    text-transform: capitalize;
}

.show {
    opacity: 1;
    z-index: 1;
}

#logout-link {
    display: none;
}

.choosen-book {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 90%;
    padding: 30px 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: 90%;
    opacity: 0;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    margin-bottom: 20px;
}

.choosen-book.show {
    opacity: 1;
}

nav .choosen-book {
    display: none
}

@keyframes letter {
    20% {
        color: rgb(255, 255, 255);
        text-shadow: 0 0 10px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255), 0 0 30px rgb(255, 252, 252), 0 0 70px rgb(255, 255, 255);
    }
    50% {
        color: rgb(3, 241, 221);
        text-shadow: 0 0 10px rgb(3, 241, 221), 0 0 20px rgb(3, 241, 221), 0 0 30px rgb(3, 241, 221), 0 0 70px rgb(3, 241, 221);
    }
    80% {
        color: rgb(5, 255, 180);
        text-shadow: 0 0 10px rgb(203, 28, 28), 0 0 20px rgb(203, 28, 28), 0 0 30px rgb(203, 28, 28), 0 0 70px rgb(203, 28, 28);
    }
}


/* rating box */

.rating-box {
    position: relative;
    background: #ffff;
    /* padding: 25px 50px 35px; */
    padding: 25px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    box-shadow: 0 5px 10px black;
    width: auto;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px
}

.rating-box h4 {
    font-size: 1.1rem;
    color: #dadada;
    margin-bottom: 20px;
    text-align: center;
}

.rating-box .stars {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.stars i {
    color: #e6e6e6;
    font-size: 25px;
    cursor: pointer;
    transition: color 0.2s ease;
    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    -ms-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
}

.rating-box button {
    font-size: 1.1rem;
    text-transform: capitalize;
    font-weight: bolder;
    font-family: fantasy;
    letter-spacing: 1px;
}

.rating-box button:hover {
    transition: 0.4s ease-in-out;
    box-shadow: 0 0 10px rgb(255, 0, 0), 0 0 20px rgb(255, 0, 0), 0 0 30px rgb(253, 0, 0), 0 0 70px rgb(254, 0, 0);
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s ease-in-out;
    -ms-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
}

.stars i.active {
    color: gold;
}

.fa-face-sad-tear,
.fa-face-smile {
    color: green;
    font-size: 25px;
}

.fa-face-sad-tear {
    color: rgb(216, 9, 9);
}

.rating-box p {
    margin-top: 10px;
    text-align: center;
}


/* hidden search bar */

.foot .search-div {
    display: none
}

.foot .book-list,
.foot .search-div {
    display: none;
}

.sms {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#please-login {
    width: 50%;
    height: 100%;
    color: rgb(255, 132, 0);
    text-transform: capitalize;
    padding: 20px;
    background-color: rgba(26, 67, 108, 0.853);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    text-align: center;
}

.foot {
    width: 100%;
    height: auto;
    background-color: rgb(205, 205, 205);
    padding: 15px;
}

.social-media {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-transform: capitalize;
}

.social-media a {
    text-decoration: none;
    color: rgb(4, 78, 153);
    font-size: 1.1rem;
    text-transform: capitalize;
}

.foot p {
    text-align: center;
    font-size: 1.1rem;
    text-transform: capitalize;
}

.social-media a:nth-child(2) i {
    color: red;
}

.social-media a:nth-child(3) i {
    color: rgb(28, 46, 252);
}

.social-media a:nth-child(4) i {
    color: rgb(30, 91, 160);
}

.social-media a:nth-child(5) i {
    color: rgb(223, 96, 11);
}

.social-media a:nth-child(6) i {
    color: rgb(34, 34, 40);
}

.sortering-container,
.sortering-container-rate {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 200px; */
    width: 100%;
    margin-bottom: 10px;
}

.sortering-container-rate {
    height: 200px;
}


/* .sortering, */

.sortering-rate {
    /* background-color: #cbcaca; */
    color: white;
    font-weight: bold;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    width: 20%;
    height: 200px;
    margin-bottom: 10px;
    border: 1px solid rgb(243, 7, 7);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0px 0px 5px red, 0px 0px 15px red;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 5px;
}

.sortering-rate h3 {
    background-color: rgb(252, 0, 0);
    border-radius: 10px;
    padding: 10px;
    text-transform: capitalize;
    font-family: "Rubik Doodle Shadow", system-ui;
    font-weight: 400;
    font-style: normal;
    color: yellow;
    text-shadow: 0px 0px 10px yellow, 0px 0px 20px yellow, 0px 0px 30px yellow, 0px 0px 40px yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sortering-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 200px;
    */
    gap: 50px;
    opacity: 0;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}

.sortering-wrapper.show {
    opacity: 1;
}

.sortering-container-rate {
    margin: 10px
}

.sortering-rate {
    width: 100%;
    height: 100%;
}

.sortering-container-rate:nth-child(2) {
    background-color: #b00b0b71;
}

main {
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.sortering-rate label:hover,
.sortering label:hover {
    color: gold
}

#search-choosenBook {
    opacity: 0;
    transition: 0.3 ease;
    -webkit-transition: 0.3 ease;
    -moz-transition: 0.3 ease;
    -ms-transition: 0.3 ease;
    -o-transition: 0.3 ease;
}

#search-choosenBook.show {
    opacity: 1
}

.foot .sortering-wrapper {
    display: none;
}

.choosen-book.show {
    opacity: 1
}

.close {
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.close i {
    font-size: 1.6rem;
    color: rgb(101, 99, 99);
}

.close i:hover {
    transition: 0.3s ease;
    font-size: 1.8rem;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    color: red;
    font-weight: bolder;
}

.sortering-section {
    width: 25%;
    /* background-color: #cbcaca; */
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin-bottom: 10px;
    border: 1px solid rgb(243, 7, 7);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0px 0px 5px red, 0px 0px 15px red;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 5px;
    opacity: 1;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}

.sortering-section.show {
    opacity: 1;
}

.sortering {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.sortering h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    background-color: rgb(252, 0, 0);
    border-radius: 10px;
    padding: 10px;
    text-transform: capitalize;
    font-family: "Rubik Doodle Shadow", system-ui;
    font-weight: 400;
    font-style: normal;
    color: yellow;
    text-shadow: 0px 0px 10px yellow, 0px 0px 20px yellow, 0px 0px 30px yellow, 0px 0px 40px yellow;
}

@media(max-width:850px) {
    .section {
        width: 90%;
        flex-direction: column;
        height: auto;
        gap: 30px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
    .section img {
        width: 90%;
        height: 150px;
        border-radius: 10px;
    }
    .section .text {
        width: 80%;
        line-height: 2;
    }
    .text {
        letter-spacing: 0.5px;
    }
    #please-login.show {
        width: 70%;
    }
    .social-media {
        height: 80%;
        flex-direction: column;
        gap: 20px;
    }
    .foot {
        height: auto;
        background-color: #a09f9fb3;
    }
    .foot p {
        margin-top: 10px;
    }
    .logo {
        width: 15%;
        height: 50px;
    }
    .sortering-wrapper {
        gap: 10px;
    }
    .sortering-section {
        width: 50%
    }
    .sortering h3 {
        font-size: 1rem;
        width: 100%;
    }
    .sms {
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }
    #please-login {
        width: 70%
    }
}


/*  */